.search-input {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: width 3s ease; /* Transition the width property with ease */
}

.search-input.expanded {
  width: 160px; /* Adjust the width as needed */
  padding: 0.5rem;
}